# Example of a `.gitattributes` file which reclassifies `.json` files as JSON 
# with comments:
# (note see: https://github.com/github/linguist/issues/2751 for discussion
# of syntax for marking languages with whitespace in name)
*.json linguist-language=JSON with Comments
